---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects?entity_id=68
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhcHBfaWQiOiJldm8ifQ.l8dpuI91zxIO0fJm5S2xUDGzUKO2CDHNyXD4cfSj-J0
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2f060a594fb3fcec8fc501b9d7553b2e"
    body:
      encoding: UTF-8
      string: '[{"item_type":"Project","id":1403,"name":"Support SUNNY FUTURES and
        Healthy Babies!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1403/profile_healthy_start_2.jpg","start_date":"2013-04-24","end_date":"2013-09-30","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":15000,"closed_date":null,"type":null,"public_url":"https://neighborhoodcenters.networkforgood-beta.com/projects/1403-community-based-initiatives-support-sunny-futures-and-healthy-babies","edit_url":"https://neighborhoodcenters.networkforgood-beta.com/admin/projects/1403-community-based-initiatives-support-sunny-futures-and-healthy-babies/edit","requires_designation_on_donation":null,"dms_internal_id":null,"accepted":true,"owner":null},{"item_type":"Project","id":1404,"name":"Give
        Kids a Passport to Summer Fun!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1404/profile_summer_camp.jpg","start_date":"2013-04-24","end_date":"2013-07-31","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":10000,"closed_date":null,"[...]
