---
http_interactions:
- request:
    method: get
    uri: http://dev.lvh.me:3000/api/v1/events?id=2&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Thu, 13 May 2021 15:17:09 GMT
- request:
    method: get
    uri: http://dev.lvh.me:3000/api/v1/events?user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Thu, 13 May 2021 20:27:21 GMT
- request:
    method: get
    uri: http://dev.lvh.me:3000/api/v1/events?entity_id=2&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-Miniprofiler-Ids:
      - e3nwn2ww7fbmh0o7qy43,1drdgfzbolt4eawz1ljf,xe3mwldcj8yzhiv558d2,a5qdbj3kc9bww5gohay2,rgd8e1iglaetthw16pur,ywk5de8tq2mlu2uftzo0,7w0bjuioiyg65x372dc0,9hre82fmanbgwevyri72,4psw5j3o6nbetksb04cd,68iwv478buxk6o00qgxk,frhg0b2o70dw21uh2ohw,fqgo7tv9f1yxbufkw7yl,ptdfuq6exzwtcu20fa0z,6gf2gil4yd6y4xapn1au,xksivtdcxlo2idbfrjj4,ho57mji3foddmmeo2f04,ax6nt93uxsgpgsewkep,4yfpu0yrvby7wv2ajd0z,6fez3ct9nsfdv6vdtpvu,zvhyzopgjfxxppv5g5gi
    body:
      encoding: UTF-8
      string: '[{"item_type":"Event","id":3,"name":"My Fundraiser","status":"accepted","photo_url":"/fallback/profile_default_project_image.png","contact_name":null,"contact_email":null,"contact_phone":null,"starts_at":"2021-04-26T23:00:00.000-05:00","ends_at":"2021-04-28T17:13:31.000-04:00","time_zone":"EST","primary_call_to_action":null,"public_url":"http://dev.lvh.me:3000/events/3-network-for-good-dev-cause-my-fundraiser","project_type":"event","dms_internal_id":null,"accepted":true}]'
  recorded_at: Thu, 13 May 2021 20:50:22 GMT
recorded_with: VCR 6.0.0
