---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/events?entity_id=428&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c5a3217f0310781cc22c269c57813dea"
    body:
      encoding: UTF-8
      string: '[{"item_type":"Event","id":4,"name":"Fuzz Ball","status":"accepted","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/event/photo/4/profile_HAT3.JPG","contact_name":"Suzie
        Snowflake","contact_email":"suziesnowflake@suziesnowflake.org","contact_phone":"123-456-7890","starts_at":"2021-11-30T16:30:00.000-06:00","ends_at":"2021-12-02T00:30:00.000-05:00","time_zone":"Central
        Time (US \u0026 Canada)","primary_call_to_action":"Join our Event!","public_url":"https://spin.networkforgood-beta.com/events/4-fuzz-ball","project_type":"event","dms_internal_id":2233,"accepted":true},{"item_type":"Event","id":8,"name":"Fall
        Gala","status":"accepted","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/event/photo/8/profile_Mustache_Begging.jpg","contact_name":"Suzie
        Snowflake","contact_email":"suziesnowflake@example.net","contact_phone":"123-456-7890","starts_at":"2019-01-25T21:00:00.000-05:00","ends_at":"2019-01-26T23:30:00.000-05:00","time_zone":"Eastern
        Time (US \u0026 Canada)","primary_call_to_action":"","public_url":"https://[...]
