---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/campaigns?id=2&limit=5&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b17fdece90515123d4900683bedbc716"
    body:
      encoding: UTF-8
      string: '{"item_type":"CampaignCollection","entity_id":2,"entity_subdomain":"admin","projects":[{"item_type":"Project","id":2,"name":"Help
        KIPP launch Lax Program","contact_name":"Paul Rabil","contact_phone_number":"4438507459","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/2/profile_Screen_Shot_2014-06-29_at_11.56.01_AM.png","start_date":"2011-06-10","end_date":"2011-06-28","hosted_video_url":"","project_type":"basic","status":"accepted","team_project":false,"ancestry":null,"goal_type":"total_amount_raised","goal":5500,"closed_date":null,"type":null,"public_url":"https://admin.networkforgood-beta.com/projects/2-kipp-baltimore-help-kipp-launch-lax-program","edit_url":"https://admin.networkforgood-beta.com/admin/projects/2-kipp-baltimore-help-kipp-launch-lax-program/edit","requires_designation_on_donation":null,"dms_internal_id":null},{"item_type":"Project","id":64,"name":"Robotics
        teach science \u0026 technology","contact_name":"Mark Terranova","contact_phone_number":"410-367-0807","contact_email":null,"photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/64/profile_dsc_0127.jpg","start_date":null,"end_date":"2011-12-31","hosted_video_url":"http://www.vimeo.com/25240916","project_type":"max","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","go[...]
