---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/campaigns?id=2&search%5Btext_to_give_allowed%5D=true&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6b0667c75b99ee0308f716a1b53fd892"
    body:
      encoding: UTF-8
      string: '{"item_type":"CampaignCollection","entity_id":2,"entity_subdomain":"admin","projects":[{"item_type":"Project","id":6533,"name":"A
        new EDGP","contact_name":"","contact_phone_number":"","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/6533/profile_beach.jpeg","start_date":"2017-09-22","end_date":"2018-02-21","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":false,"ancestry":null,"goal_type":"total_amount_raised","goal":5000,"closed_date":null,"type":null,"public_url":"https://admin.networkforgood-beta.com/projects/6533-the-casey-cares-foundation-a-new-edgp","edit_url":"https://admin.networkforgood-beta.com/admin/projects/6533-the-casey-cares-foundation-a-new-edgp/edit","requires_designation_on_donation":false,"dms_internal_id":null},{"item_type":"Project","id":8008,"name":"Farha
        Test Campaign","contact_name":"","contact_phone_number":"","contact_email":"","photo_url":"/fallback/profile_default_project_image.png","start_date":"2021-03-12","end_date":null,"hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":false,"ancestry":null,"goal_type":"total_amount_raised","goal":5000,"closed_date":null,"type":null,"public_url":"https://admin.networkforgood-beta.com/projects/8008-kipp-baltimore-farha-test-campaign","edit_url":"https://admin.networkforgood-beta.com/admin/projects/8008-kipp-baltimore-farha-test-campaign/edit","requires_designation_on_donation":false,"dms_internal_id":null}],"events":[{"item_type":"Event","id":16,"name":"Meet
        Mustache, the Awesome Tuxedo Cat","status":"accepted","photo_url":"/fallback/profile_default_project_image.png","contact_name":"","contact_email":"","contact_phone":"","starts_at":"2019-05-17T12:13:00.000-04:00","ends_at":"2019-08-09T14:30:00.000-04:00","time_zone":"Eastern
        Time (US \u0026 Canada)","primary_call_to_action":"","public_url":"https://admin.networkforgood-beta.com/events/16-happy-red-slider-turtles-meet-mustache-the-awesome-tuxedo-cat","project_type":"event","dms_internal_id":null},{"item_type":"Event","id":255,"name":"TEST
        NEW","status":"accepted","photo_url":"/fallback/profile_default_project_image.png","contact_name":null,"contact_email":null,"contact_phone":null,"starts_at":"2021-03-23T18:05:00.000-05:00","ends_at":"2021-03-24T19:05:00.000-04:00","time_zone":"EST","primary_call_to_action":[...]
