---
http_interactions:
- request:
    method: get
    uri: http://dev.lvh.me:3000/api/v1/entities/2?user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-Miniprofiler-Ids:
      - xe3mwldcj8yzhiv558d2,a5qdbj3kc9bww5gohay2,rgd8e1iglaetthw16pur,ywk5de8tq2mlu2uftzo0,7w0bjuioiyg65x372dc0,9hre82fmanbgwevyri72,4psw5j3o6nbetksb04cd,68iwv478buxk6o00qgxk,frhg0b2o70dw21uh2ohw,fqgo7tv9f1yxbufkw7yl,ptdfuq6exzwtcu20fa0z,6gf2gil4yd6y4xapn1au,xksivtdcxlo2idbfrjj4,ho57mji3foddmmeo2f04,ax6nt93uxsgpgsewkep,4yfpu0yrvby7wv2ajd0z,6fez3ct9nsfdv6vdtpvu,zvhyzopgjfxxppv5g5gi,pwx1zom5rl7acwk2hl2e,h319s2zgf45ssadj4uyo
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Network For Good - Admin","identifier":"admin","url":"http://admin.lvh.me:3000/","status":"active","supervisor_admin":{"id":3,"first_name":"Supervisor","last_name":"Admin","email":"supervisor@admin.com","roles":["supervisor"]},"salesforceID":null,"product_names":["basic","events","peer_to_peer","everyday_giving_page"],"ein":"22-3102844","new_admin_product_urls":{"peer_to_peer_url":"/admin/campaigns/new?product_id=4","event_url":"/admin/campaigns/new?product_id=3","edgp_url":"/admin/campaigns/new?product_id=5"},"address":{"id":3,"street_address":"123
        This street","street_address2":null,"city":"Baltimore","state":"MD","zip_code":"21210","country":null}}]'
  recorded_at: Thu, 13 May 2021 20:50:21 GMT
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/entities/2?user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a8d370daee218d83c21e113f5681de50"
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Baltimore","identifier":"admin","url":"https://admin.networkforgood-beta.com/","status":"inactive","supervisor_admin":{"id":11,"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","roles":["supervisor","sysadmin"]},"salesforceID":"","product_names":["premier","everyday_giving_page","peer_to_peer","events"],"ein":"52-2009393","new_admin_product_urls":{"peer_to_peer_url":"/admin/campaigns/new?product_id=257","event_url":"/admin/campaigns/new?product_id=256","edgp_url":"/admin/campaigns/new?product_id=258"},"address":{"id":74,"street_address":"2601
        N. Howard Street","street_address2":"Suite 130","city":"Baltimore","state":"MD","zip_code":"21218","country":"US"}}]'
  recorded_at: Fri, 14 May 2021 17:02:34 GMT
recorded_with: VCR 6.0.0
