---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/entities/2?user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bcf236ac92594d1c24fb3d822e54cf10"
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Baltimore","identifier":"admin","url":"https://admin.networkforgood-beta.com/","status":"inactive","supervisor_admin":{"id":11,"first_name":"Tom","last_name":"Hoen","email":"tom@givecorps.com","roles":["supervisor","sysadmin"]},"salesforceID":"","product_names":["premier","events","peer_to_peer","everyday_giving_page"],"ein":"52-2009393","new_admin_product_urls":{"peer_to_peer_url":"/admin/campaigns/new?product_id=257","event_url":"/admin/campaigns/new?product_id=256","edgp_url":"/admin/campaigns/new?product_id=258"},"address":{"id":74,"street_address":"2601
        N. Howard Street","street_address2":"Suite 130","city":"Baltimore","state":"MD","zip_code":"21218","country":"US"}}]'
  recorded_at: Wed, 21 Apr 2021 17:49:01 GMT
recorded_with: VCR 6.0.0
