---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/events/116?entity_id=428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7afee25a573824bd28348ba13dc7925d"
    body:
      encoding: UTF-8
      string: '{"item_type":"Event","id":116,"name":"My Fine Event","status":"accepted","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/event/photo/116/profile_yzJi3iU.jpg","contact_name":"Mr.
        Person Man","contact_email":"no@example.com","contact_phone":"1234567890","starts_at":"2021-04-28T18:28:00.000-04:00","ends_at":"2021-04-28T19:30:00.000-04:00","time_zone":"Eastern
        Time (US \u0026 Canada)","primary_call_to_action":"Primary call to action","public_url":"https://spin.networkforgood-beta.com/events/116-my-fine-event","project_type":"event-advanced","dms_internal_id":2268,"accepted":true}'
  recorded_at: Fri, 14 May 2021 18:11:16 GMT
recorded_with: VCR 6.0.0
