---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects/116?entity_id=68&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Unauthorized"}'
  recorded_at: Fri, 29 Mar 2024 09:10:07 GMT
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects/116?entity_id=428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhcHBfaWQiOiJldm8ifQ.l8dpuI91zxIO0fJm5S2xUDGzUKO2CDHNyXD4cfSj-J0
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2024 09:25:28 GMT
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects/1403?entity_id=68
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhcHBfaWQiOiJldm8ifQ.l8dpuI91zxIO0fJm5S2xUDGzUKO2CDHNyXD4cfSj-J0
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3c7533a284ee49b712ac8e4a07781128"
    body:
      encoding: UTF-8
      string: '{"item_type":"Project","id":1403,"name":"Support SUNNY FUTURES and
        Healthy Babies!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1403/profile_healthy_start_2.jpg","start_date":"2013-04-24","end_date":"2013-09-30","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":15000,"closed_date":null,"type":null,"public_url":"https://neighborhoodcenters.networkforgood-beta.com/projects/1403-community-based-initiatives-support-sunny-futures-and-healthy-babies","edit_url":"https://neighborhoodcenters.networkforgood-beta.com/admin/projects/1403-community-based-initiatives-support-sunny-futures-and-healthy-babies/edit","requires_designation_on_donation":null,"dms_internal_id":null,"accepted":true,"owner":null}'
  recorded_at: Fri, 29 Mar 2024 09:31:54 GMT
recorded_with: VCR 6.2.0
