---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects/116?entity_id=68&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Apr 2024 07:46:27 GMT
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects/1406?entity_id=68&user_email=<NFG_USER_EMAIL>&user_token=<NFG_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d84f4d260c620b7435e9eea7e866c928"
    body:
      encoding: UTF-8
      string: '{"item_type":"Project","id":1406,"name":"Welcome New Neighbors in Houston!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1406/profile_new_neighbors.jpg","start_date":"2013-04-24","end_date":"2013-07-31","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":10000,"closed_date":null,"type":null,"public_url":"https://neighborhoodcenters.networkforgood-beta.com/projects/1406-immigration-citizenship-assistance-welcome-new-neighbors-in-houston","edit_url":"https://neighborhoodcenters.networkforgood-beta.com/admin/projects/1406-immigration-citizenship-assistance-welcome-new-neighbors-in-houston/edit","requires_designation_on_donation":null,"dms_internal_id":null,"accepted":true,"owner":null}'
  recorded_at: Mon, 08 Apr 2024 07:47:56 GMT
recorded_with: VCR 6.2.0
