---
http_interactions:
- request:
    method: get
    uri: https://api.networkforgood-beta.com/api/v1/projects?entity_id=68&project_type=everyday
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhcHBfaWQiOiJldm8ifQ.l8dpuI91zxIO0fJm5S2xUDGzUKO2CDHNyXD4cfSj-J0
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2f060a594fb3fcec8fc501b9d7553b2e"
    body:
      encoding: UTF-8
      string: '[{"item_type":"Project","id":1408,"name":"Support
        Early Head Starts in Houston!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1408/profile_head_start.jpg","start_date":null,"end_date":null,"hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":0,"closed_date":null,"type":null,"public_url":"https://neighborhoodcenters.networkforgood-beta.com/projects/1408-choices-in-education-support-early-head-starts-in-houston","edit_url":"https://neighborhoodcenters.networkforgood-beta.com/admin/projects/1408-choices-in-education-support-early-head-starts-in-houston/edit","requires_designation_on_donation":null,"dms_internal_id":null,"accepted":true,"owner":null},{"item_type":"Project","id":1406,"name":"Welcome
        New Neighbors in Houston!","contact_name":"","contact_phone_number":"713-667-9400","contact_email":"","photo_url":"https://nfg-sofun-development.s3.amazonaws.com/uploads/project/photo/1406/profile_new_neighbors.jpg","start_date":"2013-04-24","end_date":"2013-07-31","hosted_video_url":"","project_type":"everyday","status":"accepted","team_project":null,"ancestry":null,"goal_type":"total_amount_raised","goal":10000,"closed_date":null,"type":null,"public_url":"https://neighborhoodcenters.networkforgood-beta.com/projects/1406-immigration-citizenship-assistance-welcome-new-neighbors-in-houston","edit_url":"https://neighborhoodcenters.networkforgood-beta.com/admin/projects/1406-immigration-citizenship-assistance-welcome-new-neighbors-in-houston/edit","requires_designation_on_donation":null,"dms_internal_id":null,"accepted":true,"owner":null}]'
  recorded_at: Fri, 29 Mar 2024 09:44:19 GMT
recorded_with: VCR 6.2.0
